/**
 * Css specific to this website
 */

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  // border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Layouts
.top-bar .name h1 a:before {
    background-image: url('../img/cake-logo-small-24x24.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 18px;
    margin-right: 10px;
    position: relative;
    width: 24px;
}

// Styles for h1, h2, ....
.wrapper {
  h1 {
    color: $black;
    font-weight: $font-weight-bold;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid $gray;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
    line-height: 1.5;

  }
  $h1-font-reduction: rem-calc(6);
  $h1-font-size: rem-calc(25);
  h2 {
    color: $red;
    font-weight: $font-weight-bold;
  }
  h3 {
    color: $yellow;
  }
}

// footer
.footer {
  margin-top: 3rem;
  border-top: 1px solid $gray;
  text-align: center;
  i {
    font-size: 50px;
  }
  a {
    color: black;
    font-weight: $font-weight-bold;
  }
  .button {
    margin: 0px;
  }
}

.ul-actu {
    list-style-type: none;
}
